<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PSoundSet</title>

    <script> // want to use this variable in main.js, too....
      let dbmodder=false
      <% if(dbmodder) {%> 
        dbmodder=true;
        <% } %>    
    </script>


    <script defer src="appscripts//main.js"></script>

    <!-- for conext menu -->
    <link rel="stylesheet" href="/css/contextual.css">
    <link rel="stylesheet" href="/css/contextual.theme.css">
    <script src="/appscripts/contextual_lwmod.js"></script>
    <link defer rel="stylesheet" href="/css/main.css">
    
    

  </head>

  <body>

    <% if(dbmodder) {%>
      <h1>Parameterized Sound Set (admin)</h1>
    <% } else { %>
      <h1>Parameterized Sound Set database</h1>
    <% } %>
    <div style="background-color:lightsteelblue;padding:15px; border: 1px solid #FF0000;" >

    <div>
      <input id="searchButt" type="button" value="SEARCH" >
      <span style="float:right;"">
        <% if(dbmodder) {%>
          <label  for="currentIDElement">current Sound ID</label>
          <input id="currentIDElement" type="text" readonly value="" class="readonly" style="width:14em">
        <% }else {%>
          <input hidden id="currentIDElement" type="text" readonly value="" class="readonly" style="width:14em">
        <% } %>

        <% if(dbmodder) {%>
          <input id="replaceButt" type="button"  value="UPDATE CURRENT" >
        <% }%>
      </span>
    </div>

    <form id="soundForm" action="/pSoundSets" method="POST" enctype="multipart/form-data">
      <!-- name attribute is NECESSARY and used for attribute name when submitting object to server -->
      <hr>
      <!-- buttons are not 'name'ed so that they are not added to the form sent to the db -->
      <% if(dbmodder) {%>
        <button type="submit"   value="SUBMIT NEW">SUBMIT NEW</button>
      <% }%>

      <hr>
      <label for="name">Name</label>
      <input id="name" type="text" placeholder="name" name="name" class="searchable" ><br>

      <label for="keywords">Keywords</label>
      <input id="keywords" type="text" placeholder="keywords" name="keywords" class="searchable" > <span class="info"> (for searching, keywords and description are 'OR' combined)</span><br>

      <label for="description">Description</label>
      <textarea form="soundForm" id="description" type="textarea" placeholder="description"  name="description" class="searchable" style="width:100%;margin:5; height:4em"></textarea><br>

      <label for="notes">Notes</label>
      <textarea form="soundForm" id="notes" type="textarea" placeholder="notes"  name="notes" style="width:60%;margin:5; height:4em"></textarea><span class="info">(not indexed for text searches)</span><br>
      <br>

      <label for="submittedBy">Submitted By: </label>
      <input type="text" id="submittedBy" name="submittedBy" class="searchable">

      <label for="creationDate">Creation Date</label>
      <input type="date" id="creationDate" name="creationDate" class="searchable"><br>

      <label for="sourceType">SourceType</label>
      <select id="sourceType" name="sourceType" class="searchable">
        <option></option>
        <option value="recorded">Recorded</option>
        <option value="synthetic">Synthetic</option>
      </select> 


      <label for="paramType">paramType per file</label>
      <select id="paramType" name="paramType" class="searchable">
        <option ></option>
        <option value="dynamic">constant</option>
        <option value="constant">dynamic</option>
        <option value="on/off only">on/off only</option>
      </select> <br>

      <label for="numFiles">Number of Files:</label>
      <input type=number id="numFiles" name="numFiles" class="searchable" min="1" style="width:5em;">

      <label for="numParams">Number of params (incl. on/off):</label>
      <input type=number id="numParams" name="numParams" class="searchable" min="0" style="width:2em;"><br>


      <br>

       <fieldset>
        <legend>Synthesized:</legend>
        <label for="synthName">Synth Name:</label>
        <input type="text" id="synthName" name="synthName" class="searchable">
        <label for="synthLink">Synth Link</label>
        <input type="url"  id="synthLink" name="synthLink" class="searchable"><br>
        <label for="modelName">Model Name:</label>
        <input type="text" id="modelName" name="modelName" class="searchable">
        
        <label for="synthPlatform">Synth Platform:</label>
        <input type="text" id="synthPlatform" name="synthPlatform" class="searchable"><br>
        
        <label for="modelFile">Model File:</label>
        <% if(dbmodder) {%>
          <input type="file" id="modelFile" name="modelFile" value='' >
          <input id="modelFileName" name="modelFileName" type="text" value="" style="width:12em">
        <%} else {%>
          <input id="modelFileName" name="modelFileName" type="text" value="" readonly class="readonly" style="width:12em">
        <%}%>


        <input id="modelFileButt" name="modelFileButt" type="button" value="Download" style="width:7em">
        
        
      </fieldset>

      <fieldset>
        <legend>Files:</legend>
        <% if(dbmodder) {%>
          <label for="soundFiles">Sound Files:</label>
          <input type="file" id="soundFiles" name="soundFiles"  value='' multiple >
          <input id="soundFilesName" name="soundFilesName" type="text" value="" style="width:12em"><br>
        <%}%>
        <label for="format">Format:</label>
          <select id="format" name="format" class="searchable">
            <option ></option>
            <option value="wav">wav</option>
            <option value="aiff">aiff</option>
            <option value="ogg">ogg</option>
          </select> 

        <label for="channels">Channels:</label>
        <input type=number id="channels" name="channels" class="searchable" style="width:3em;"><br>

        <label for="sr">Sample Rate:</label>
        <input type=number id="sr" name="sr" class="searchable" style="width:7em;">

        <label for="bitDepth">Bit Depth:</label>
        <input type=number id="bitDepth" name="bitDepth" class="searchable" style="width:4em;"><br>

        <label for="durationType">File Durations:</label>
          <select id="durationType" name="durationType" class="searchable">
            <option ></option>
            <option value="uniform">uniform</option>
            <option value="various">various</option>
          </select> 
        <label for="lengthSecs">Length (secs):</label>
        <input type=number id="lengthSecs" name="lengthSecs"  style="width:4em;"><br>

      </fieldset>

      
    </form>
    <button id="defaultValsButt" >Set Form Default Values</button>
    <button id="clearValsButt" >Clear Form</button><br>

   </div>

    <h2> SoundSet List </h2>
    (right-click for options: view metadata, play sounds, download)
    <ul id="PSoundSetList">
      <!-- Loop through PSoundSetList -->
      <% for(var i = 0; i < pSoundSets.length; i++) {%>
        <li class="psets" style="list-style-type:none">
          <!-- the id is the sound_id, which we use to getElementByEd, but as a data-user attribute for passing that info to context-menue and to the database -->
          <input value="<%= pSoundSets[i].name %>" id="<%= pSoundSets[i]._id %>"   class="soundNameButt" type="text"  > 
          <span>  <%=  pSoundSets[i].keywords %></span>  
          <!-- Output description from the iterated pSoundSets object -->
          <!-- <span>(descritpion) <%= pSoundSets[i].description %></span> ; -->

        </li> 
      <% } %>
    </ul>
  </body>
</html>