/* Main style */

#intro {
    color : maroon;
}

.soundNameButt{
    width: 15em;
    border: 2px solid #113311;
	border-radius: 16px;
	color: #113311;
	top-margin: 4px;
	padding-left: 10px;
	background-color:lightsteelblue;
}

.searchable{
	border: 1px solid maroon;
	border-radius: 4px;
	color: DarkBlue;
}

.readonly{
	background-color: #DDDDDD;
}

.info{
	color: black; font-family: 'Muli', sans-serif;font-size: 10px;
}


input, select, textarea {
	margin-bottom: 5px;
	background-color: ivory;
}
/* SureFire by Jon Perez */
a { color: #ff6600; transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; -o-transition: .5s; font-family: 'Muli', sans-serif; }

a:hover { text-decoration: underline }

h1 { padding-bottom: 15px }

h1 a { font-family: 'Open Sans Condensed', sans-serif; font-size: 48px; color: #333; }

h1 a:hover { color: #ff6600; text-decoration: none; } 

p, label { color: #333; font-family: 'Muli', sans-serif; margin-bottom: 15px; }

legend { color: maroon; font-family: 'Muli', sans-serif; }


a.more-link { color: white; font-weight: bold; font-size: 14px; font-family: Arial, Helvetica, sans-serif; padding: 3px 10px; background-color: #ff6600; border-radius: 5px; float: right; }

a.more-link:hover { text-decoration: none; background-color: #666; border-radius: 0px; } 

